.services{
    padding: 100px 130px 80px 130px;
}
.service__top{
    text-align: center;
    color:  #7ab730;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    margin-bottom: 0px;

}
.service__head{
    text-align: center;
    font-size: 2.8rem;
    font-weight: bolder;
    margin-top: 0px;
    letter-spacing: 1px;

}
.service__content{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.service__block > i{
    color: #7ab730;
    background-color:white;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 25px 0px;
    border: 2px solid  #7ab730;;
}
.service__block > i:hover{
    color: white;
    background-color:  #7ab730;
    cursor: pointer;
}
.service__block{
    height: 100%;
    background-color: white;
    margin-bottom:50px ;
    padding: 40px 16px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block__head{
    font-size: 20px;
    margin-top: 25px;
    color:rgb(16, 16, 16)
}
.block__text{
    margin-top: 0px;
    text-align: center;
    color:#777 ;
    font-size: 18px;
}
@media screen and (max-width : 470px) {
    .service__content{
     flex-direction: column;
    }
    .service__block{
     
        width: 90%;

    }
    .service__top, .service__head{
        text-align: center;
    }
  
    .service__head{
        font-size: 2rem;
    }
    .services{
        padding: 0 2rem;
    }
}