body{
    font-family: 'Poppins',sans-serif;
}
.top-head{
    text-align: center;
    background-color: #fff;
}
.change{
    color: rgb(69, 126, 69);
}
.carrd{
    padding: 50px;
    background-color: #fff;
}
.carrdd{
    position: relative;
}
.imgg{

}
